
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>testing page </h2>-->

<!--</body>-->
<!--</html>-->
{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}
<section id='about' >
    {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {%  endif  %}
    {% endwith %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

       <p>

       </p>
        <p>
            {{form.password.label }}

        </p>
        <p>
            {{form.submit() }}
        </p>

    </form>
</section>


{% endblock %}