<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

</body>
</html>

{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block body %}

<h2>Login Page </h2>
<section id='about' >
    {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {%  endif  %}
    {% endwith %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

       <p>
            {{form.username.label }}
           {{form.username}}
       </p>
        <p>
            {{form.password.label }}
               {{form.password}}
        </p>
        <p>
            {{form.submit() }}
        </p>

    </form>
</section>

{% endblock %}

